.login_container {
  width: 90vw;
  height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.join {
  margin-top: 32px;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

.join a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 8px 8px 8px 8px;
  border-radius: 25px;
  color: #044e76;
}

.join a:hover {
  background-color: #D0E8FF;
  text-decoration: underline;
}

.login_position_setter {
  height: 100px;
}

@media screen and (max-width: 450px) {
  .login_container {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80vw;
  }

  .join {
    width: 90%;
    text-align: center;
  }
}