.dropdown:hover .dropdown-menu {
  display: block;
}

.text-custom-primary {
  color: #0B344A;
}

.bg-custom-primary {
  background-color: #0B344A;
}

.custom-hidden {
  display: none;
  visibility: none;
}