.login_header {
  height: 75px;
  display: flex;
  align-items: center;
  width: 100vw;
}

.bg_white {
  background-color: #ffffff;
}

.bg_gray {
  background-color: #F3F2F0;
}

.login_header_logo {
  padding-left: 75px;
  padding-top: 15px;
  width: 300px;
  height: 75px;
  display: flex;
  align-items: center;
}

.family,
.share {
  color: #044e76;
}

.family {
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

.share {
  font-family: cursive;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .login_header_logo {
    padding-left: 30px;
  }

  .login_header {
    width: 90vw;
    margin-top: 30px;
  }
}